/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eee;
  background-color: #eee;
  height: 90px;
  padding-top: 5px;
}

/* customized */
.alert-success {
  display: none;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.page-header h1 {
  font-family: 'Lobster', cursive;
  color: #f0e0bd;
  text-shadow: 1px 1px 1px #000;
}

.page-header h6 {
  color: #fff;
}

.feedback {
  margin-top: 30px;
}

.glyphicon-ok {
  display: none;
} 

.progress {
  display: none;
}

.progress-bar {
  color: #000;
}

.alert {
  display: none;
}

.label-danger {
  margin-left: 5px;
  font-family: arial;
  font-size: 10px;
  text-shadow: none;
  vertical-align: super;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #517fa4;
}

.download-button {
  color: #517fa4;
  background-color: #f0e0bd;
  border-color: #F0C362;
  background-image: linear-gradient(to bottom, #f0e0bd 0px, #F0C362 100%);
  background-repeat: repeat-x;
}

.download-button:hover {
  color: #517fa4;
  background-color: #F0C362;
  border-color: #F0C362;
  background-position: 0 -15px;
}

#username {
  width: auto;
}

.big-container {
  max-width: 900px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .input-group-addon {
    display: none;
  }
}

.spin {
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}